@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Inicio";

    int cookieInt;
    string cookieString = Context.Request.Cookies["logStatus"];
    bool conversionSuccess = int.TryParse(cookieString, out cookieInt);

}

<div class="pagina-presentacion">
    <div class="title-wrapper">
        <h1 class="sweet-title">PREGUNTADOS</h1>
        <span class="bottom-title">Por Iair Steimberg y Lautaro Yukelson</span>
    </div>
    <button type="button" class="jugar btnModal" data-bs-toggle="modal" data-bs-target="#loginModal" id="loginBtn">
        Vamos! </button>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginBtn" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id=""> Iniciar Sesion.. </h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"
                        id="cerrado"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Home/IniciarSesion" class="formulario-configuracion">
                        <input type="text" name="usuario" class="form-control" placeholder="Usuario" required>
                        <input type="password" name="contrasena" class="form-control" placeholder="Contraseña" required>
                        <button type="submit" class="jugar">Iniciar Sesion</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>¿No tienes una cuenta? <button type="button" class="jugar chico btnModal" data-bs-toggle="modal"
                            data-bs-target="#registerModal" id="registerBtn"> Registrate </button></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerBtn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="">
                    Registrase..
                </h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Home/CrearCuenta" class="formulario-configuracion">
                    <input type="text" name="usuario" class="form-control" placeholder="Usuario" required>
                    <input type="password" name="contrasena" class="form-control" placeholder="Contraseña" required>
                    <button type="submit" class="jugar">Crear Cuenta</button>
                </form>
            </div>
            <div class="modal-footer">
                <p>Ya tienes una cuenta? <button type="button" class="jugar chico btnModal" id="miniLoginBtn"> Inicia
                        Sesion </button></p>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const modals = document.getElementsByClassName("modal");
        const loginBtn = document.getElementById("loginBtn");
        const registerBtn = document.getElementById("registerBtn");
        const miniLoginBtn = document.getElementById("miniLoginBtn");

        if (@cookieInt == -1){
            Swal.fire({
                icon: 'error',
                title: 'Contraeña incorrecta',
                text: 'Vuelve a ingresar tu contraseña pero no le erres.',
                footer: '<a href="https://chat.openai.com/" style="color:blue;">Olvidaste tu contraseña?</a>'
            })
        } else if (@cookieInt == -2){
            console.log("Usuario no Encontrado");
            Swal.fire(
                'User not found',
                'El usuario ingresado no fue ingresdo correctamente, fijate si lo escribiste malo cualquier cosa',
                'question'
            );
        }

        loginBtn.addEventListener("click", function () {
            if (@cookieInt == 1) {
                window.location.href = "./Home/Multijugador";
            }
        });

        registerBtn.addEventListener("click", function () {
            loginBtn.click();
        });

        miniLoginBtn.addEventListener("click", function () {
            registerBtn.click();
            loginBtn.click();
        });
    });
</script>
