@{
    ViewData["Title"] = "Inicio";
}

<div class="pagina-presentacion">
    <div class="title-wrapper">
        <h1 class="sweet-title">PREGUNTADOS</h1>
        <span class="bottom-title">Por Iair Steimberg y Lautaro Yukelson</span>
    </div>

    <button
        type="button"
        class="jugar"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
    >
        Vamos!
    </button>

    <!-- Modal -->
    <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Configurá tu juego...
                    </h1>
                    <button
                        type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Home/Comenzar" class="formulario-configuracion">
                        <input type="text" class="form-control inputNombre" name="username" placeholder="Tu nombre..." autocomplete="off" required hidden>
                        <div>
                            <div class="cyclic_input" tabindex="0">A</div>
                            <div class="cyclic_input" tabindex="0">A</div>
                            <div class="cyclic_input" tabindex="0">A</div>
                        </div>
                        <div class="botones-dificultades">       
                            <input id="dificultad" type="number" name="dificultad" required hidden>             
                            <button type="button" id="1" class="btn-dificultad jugar">Facil</button>
                            <button type="button" id="2" class="btn-dificultad jugar">Normal</button>
                            <button type="button" id="3" class="btn-dificultad jugar">Dificil</button>
                        </div>
                        <button id="enviar" type="submit" hidden></button>
                    </form>
                </div>
                <div class="modal-footer">  
                    <button type="button" class="jugar" id="enviar-falso">Ahora jugar!</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const botones = document.querySelectorAll(".btn-dificultad");
        const dificultad = document.querySelector("#dificultad");
        const enviar = document.querySelector("#enviar");
        const enviarFalso = document.querySelector("#enviar-falso");
        const inputNombre = document.querySelector(".inputNombre");

        botones.forEach(boton => {
            boton.addEventListener("click", function() {
                botones.forEach(b => b.classList.remove("active"));
                boton.classList.add("active");
                dificultad.value = boton.id;
            });
        });

        enviarFalso.addEventListener("click", function() {
            enviar.click();
        });

        ////////////////////////////////////////////////////////////////////
        let nombre = [" ", " ", " "];
        let actual = 0;

        KEYCODES = { left: 37, up: 38, right: 39, down: 40 };

        $('.cyclic_input').on('keydown',function(ev){
            input = $(this);
            val = $(this).text();

            switch (ev.keyCode) {   
            case KEYCODES.right:
                input.next().focus();
                if (actual < 2){
                    actual++;
                }
                break;
            case KEYCODES.left:
                input.prev().focus();
                if (actual > 0){
                    actual--;
                }
                break;
            case KEYCODES.up:
                input.text(advanceCharBy(val, 1));
                nombre[actual] = advanceCharBy(val, 1);
                break;
            case KEYCODES.down:
                input.text(advanceCharBy(val, -1));
                nombre[actual] = advanceCharBy(val, -1);
                break;
            default:
                if (ev.keyCode >= 65 && ev.keyCode <= 65 + 26) {
                    input.text(String.fromCharCode(ev.keyCode));
                    input.next().focus()
                }
            };
            inputNombre.value = nombre.join('');
        });
    });
</script>

