@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  width: 100vw;
  height: 100vh;
}

body{
  min-width: 100%;
  min-height: 100%;
}

a{
  text-decoration: none;
  color: #fff;
}

.pagina{
  width: 100vw;
  height: 100vh;
}

.main{
  width: 100%;
  height: 100%;
}

/*****************************************************Presentacion*****************************************************/
.pagina-presentacion{
  width: 100%;
  height: 100%;
  background: url("../images/fondo-presentacion.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ganaste{
  justify-content: center;
}

#volverMenu:hover{
  color: #fff;
}

.title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-title {
  font-weight: 500;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 1.5rem;
  padding-left: 2rem;
}

.sweet-title {
  width:  830px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(3rem, 10vw, 6rem);
  text-shadow: 3px 1px 1px #a932b5, 2px 2px 1px #922b8c, 4px 2px 1px #8e44ad,
    3px 3px 1px #6c3483, 5px 3px 1px #8e44ad, 4px 4px 1px #6c3483,
    6px 4px 1px #8e44ad, 5px 5px 1px #6c3483, 7px 5px 1px #8e44ad,
    6px 6px 1px #6c3483, 8px 6px 1px #8e44ad, 7px 7px 1px #6c3483,
    9px 7px 1px #8e44ad;
  }

.jugar{
  position:relative;
  display:inline-block;
  margin:20px;
}

.jugar{
  color:white;
  font-weight: 900;
  font-size: clamp(0.75rem, 2.5vw, 1.5rem);
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px 40px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.jugar:active{
  top:10px;
  background-color:#F78900;
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.jugar:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.Esperando{
  background-color:#868686;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #a7a7a7, 0 10px 0 #4a4a4a;
  -moz-box-shadow:inset 0 1px 0 #a7a7a7, 0 10px 0 #4a4a4a;
  box-shadow:inset 0 1px 0 #a7a7a7, 0 10px 0 #4a4a4a;
}

.Esperando:active{
  background-color:#868686;
  -webkit-box-shadow:inset 0 1px 0 #a7a7a7, inset 0 -3px 0 #4a4a4a;
  -moz-box-shadow:inset 0 1px 0 #a7a7a7, inset 0 -3pxpx 0 #4a4a4a;
  box-shadow:inset 0 1px 0 #a7a7a7, inset 0 -3px 0 #4a4a4a;
}

/*****************************************************Modal Configurar Juego*****************************************************/

.show{
  display: block;
}

.botones-dificultades{
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones-dificultades .jugar{
  width: 100px;
  height: 50px;
  font-size: 20px;
  padding: 0;
}

.jugar.active{
  top:10px;
  background-color:#F78900;
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.modal-header{
  color: #fff;
  background-color: #519152;
  border: none;
}

.modal-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39547d;
  border: none;
  color: #fff;
}

.modal-footer p{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body{
  height: 450px;
  background: url("../images/fondo-form.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  border-radius: 20px;
}

.formulario-configuracion{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.form-control{
  border: 2px solid black;
  box-shadow: none;
  outline: none;
}
.form-control:focus {
  border: 2px solid black;
  outline: none;
  box-shadow: none;
}

.inputs_arcade{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cyclic_input {
  width: 100px;
  height: 150px;
  padding: .5rem;
  font-size: 5rem;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid black;
}

/*****************************************************Ruleta*****************************************************/
.pagina-ruleta {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("../images/fondo-juego.jpg");
}

.tablero-padre{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablero {
  width: 600px;
  height: 600px;
  text-align: center;
}

#ruleta {
  transform: rotate(-1400deg);
  transition: all 2s;
  max-width: 530px;
  width: 100%;
}

#boton {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 650px;
}

.puntajes {
  max-height: 103px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #e7e6e6;
}

.jugador {
  width: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: left;
}

.jugador-2 {
  text-align: right;
  justify-content: right;
}

.versus {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(67, 209, 141);
  border-radius: 50%;
  border: solid 5px white;
  color: #e7e6e6;
  font-size: 20px;
  font-weight: 800;
}

.versus p{
  height: 35px;
  margin: 0;
  padding: 0;
}

.img-player{
  margin-left: 30px;
  margin-right: 30px;
}

.nombre-jugador{
  font-size: 20px;
  font-weight: 800;
  color: rgb(67, 209, 141);
  margin-bottom: 5px;
}

.b-n{
  filter: grayscale();
}

.botones-dificultades{
  flex-wrap: wrap;
}

#modal-corona .btn-categoria{
  background-color: #fff;
}

#modal-corona .jugar{
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #969594;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #969594;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #969594;
}

#modal-corona .jugar.active{
  top:10px;
  background-color:rgb(173, 173, 173);
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #969594;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #969594;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #969594;
}

#modal-corona .modal-body{
  height: 300px;
}

/*****************************************************Pregunta*****************************************************/
.pagina-pregunta{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: url("../images/fondo-juego.jpg");
}

.cabecera-preguntas{
  width: 100%;
  padding-top: 20px;
  color: #e7e6e6;
  font-size: 24px;
  font-weight: 600;
}

.barra-carga{
  background-color: rgba(0, 0, 0, 0.253);
  height: 10px;
  animation: crecer 30s cubic-bezier(0, 0, 1, 1) forwards;
}

.info-head{
  display: flex;
  justify-content: center;
}

#contador{
  position: absolute;
  right: 20px;
}

.juego{
  width: 100%;
  height: 80%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cuadro-pregunta{
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  max-height: 700px;
  width: 100%;
  max-width: 600px;
}

.cuadro-pregunta p{
  width: 95%;
  font-size: 25px;
  text-align: center;
}

.opciones{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.opcion{
  border: none;
  width: 100%;
  height: 40px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opcion p{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.ayudas{
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;
}

.ayudas button{
  background: none;
  border: 3px solid #c5c3c3;
  border-bottom: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borde-der{
  border-right: 3px solid #c5c3c3;
}

@keyframes crecer{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

/*****************************************************LISTA PARTIDAS*****************************************************/

.multi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/fondo-form.jpg");
  background-position: center;
  background-size: contain;
  height: 100vh;
}

.partidas-container{
  position: relative;
  width: 830px;
  height: 100%;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.partidas{
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0px 8px 0px 8px;
}

.partida{
  height: 100px;
  width: 100%;
  
  margin-top: 15px;
  padding: 4px 50px 4px 50px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.jugador1, .jugador2{
  text-align: center;
}

.jugador1 p, .jugador2 p{
  margin-bottom: 5px;
  font-weight: 600;
}

.btnContinuar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crear{
  margin-bottom: 15px;
}

.chico{
  width: 100px;
  font-size: 15px;
  padding: 0;
}

.nav{
  width: 100%;
}

.partidas::-webkit-scrollbar {
  width: 10px;
}

.partidas::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 100px;
}

.partidas::-webkit-scrollbar-thumb {
  background-color: #39547d;
  border-radius: 100px;
}

.p{
  text-align: center;
}

/************************************************Crear Partida*********************************************************/
.header-crearPartida{
  background: #d6d6d6;
}

.body-crearPartida{
  height: fit-content;
  background: #fff;
}

.body-crearPartida form{
  width: 95%;
}

/***********************************Contraseña Incorrecta / Usuario no encontrado*********************************************/
.swal2-container{
  position: absolute !important;
}